* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 100%;
}
/*Hero Section*/
.hero-container {
    height: 800px;
    background-image: url(hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
img.logo-img {
   display: block;
   padding-top: 50px;
   margin: auto;
   margin-bottom: 20px;
   width: 8%;
}
.hero {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center
}
.hero h2 {
    font-weight: 600;
    font-size: 30px;
    color: #514949;
    margin-bottom: 36px;
    margin-top: 50px;
}
.hero p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
p span {
    color: #E7332B;
}
.B1 {
    margin-top: 92px;
    padding: 15px 28px;
    background-color: #E7332B;
    color: #fff;
    border: 1px solid #E7332B;
}
.B1 {
    margin-right: 10px;
}
.B2 {
    margin-left: 10px;
}
.B2 {
    margin-top: 92px;
    padding: 15px 28px;
    background-color: #fff;
    color: #E7332B;
    border: 1px solid #E7332B;

}
.B1:hover {
    background-color: white;
    color: #E7332B;
}
.B2:hover {
    background-color: #E7332B;
    color: #fff;
}
/*Programs Section*/
.programs {
    background-color: #fff;
    width: 100%;
}
.heading2 {
    text-align: center;
    width: 100%;
}
.heading2 h3 {
    margin-top: 141px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #E7332B;
}
.heading2 h4 {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
    font-weight: 500;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.column1 {
    float: left;
    width: 30%;
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
    margin: 0 10px;
}
.column1 img {
    width: 40%;
}
.column1 p {
    color: #514949;
    margin-top: 50px;
}
.column1 a{
    color: #E7332B;
    text-decoration: none;
}

/* Contact Section */
.footer {
    width: 100%;
    margin: 141px 0;
}
.column h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
} 

.column {
    float: left;
    width: 25%;
    text-align: center;
} 
.column a {
    color: #E7332B;
    text-decoration: none;
}
.column img {
    width: 30%;
    margin-top: -25px;
    vertical-align: middle;
}
.column p,a {
    font-size: 15px;
}
.social img {
    width: 6%;
}
hr {
    margin-top: 80px;
    opacity: 0.2;
    border: 0.7px solid #514949;
    width: 80%;
}
.copyright p {
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #514949;
}

@media screen and (max-width: 768px) {
    .column1 {
        width: 100%;
        margin: 20px 0;
    }
    .column {
        width: 100%;
    }
    .column h4 {
        font-size: 25px;
        font-weight: 600;
        line-height: 24px;
        color: #514949;
    }
    img.logo-img {
        display: block;
        padding-top: 50px;
        margin: auto;
        margin-bottom: 20px;
        width: 15%;
    }
    .column img {
        width: 30%;
        margin-top: -25px;
        vertical-align: middle;
    }
    .social img {
    width: 4%;
    }
    .B2 {
        margin-top: 20px;
    }

}
